body {
	font-family: 'Poppins', sans-serif;
}
.service-card {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.logo-custom {
	width: 150px; /* Ajusta el tamaño según sea necesario */
	/* Ajusta el tamaño según sea necesario */
}
